@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Variables globales pour Ionic PWA Elements */
  --ion-background-color: #0f172a;
  --ion-text-color: #f8fafc;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
  background-image: radial-gradient(
      at 0% 0%,
      rgba(56, 189, 248, 0.1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 0%, rgba(168, 85, 247, 0.1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(56, 189, 248, 0.1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(168, 85, 247, 0.1) 0px, transparent 50%);
  background-attachment: fixed;
}

/* Scrollbar personnalisée */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}

/* Styles pour @ionic/pwa-elements (Caméra Popup) */
body > pwa-action-sheet {
  --background: #0f172a !important;
  --button-background: #0f172a !important;
  --button-color: #f8fafc !important;
  --button-background-selected: #1e293b !important;
  --button-background-hover: #1e293b !important;
  --text-color: #f8fafc !important;
  z-index: 9999 !important;
}

body > pwa-camera-modal,
pwa-camera-modal-instance {
  --background: #0f172a !important;
  --text-color: #f8fafc !important;
  z-index: 9999 !important;
}
